body {
  background-color: black;
}
#blue:hover {
  transform: scale(1);
  background-color: blue;
  opacity: 1;
}
#green:hover {
  transform: scale(1);
  background-color: green;
  opacity: 1;
}
#red:hover {
  transform: scale(1);
  background-color: red;
  opacity: 1;
}
#yellow:hover {
  transform: scale(1);
  background-color: yellow;
  opacity: 1;
}
.col-md-3 {
  background-color: black;
  width: 240px;
  height: 500px;
}
.head {
  font-size: 40px;
  color: #00ace6;
  text-align: center;
  font-family: "Abril Fatface", cursive;
}
.bright {
  width: 200px;
  height: 200px;
  opacity: 1.5 !important;
}

#blue {
  background-color: blue;

  width: 200px;
  height: 200px;
  opacity: 0.4;
  border-top-left-radius: 180px;

  border: 5px solid white;
}

#green {
  background-color: green;

  width: 200px;
  height: 200px;
  opacity: 0.4;
  border-top-right-radius: 180px;
  border: 5px solid white;
}

#red {
  background-color: red;
  border: 5px solid white;

  width: 200px;
  height: 200px;
  opacity: 0.4;
  border-bottom-left-radius: 180px;
}

#yellow {
  background-color: yellow;

  border: 5px solid white;
  width: 200px;
  height: 200px;
  opacity: 0.4;
  border-bottom-right-radius: 180px;
}
button {
  width: 200px;
  font-size: 50px;
  border-radius: 50%;
  background-color: black;

  font-family: "Pacifico", cursive;
  color: white;
  border: black;
}
#score {
  font-family: "Pacifico", cursive;
  font-size: 30px;
  color: green;
}
#highscores {
  font-family: "Pacifico", cursive;
  font-size: 30px;
  color: white;
}

#top {
  font-family: "Pacifico", cursive;
  font-size: 30px;
  color: #00e64d;
}
