body {
  background-color: black;
 
}


.head {
  font-size: 40px;
  color: #00ace6;
  text-align: center;
  font-family: "Abril Fatface", cursive;
}
.bright {
  width: 200px;
  height: 200px;
  opacity: 1.5 !important;
}

#blue {
  background-color: blue;

  width: 120px;
  height:120px;
  opacity: 0.4;
 

  border: 5px solid white;
}

#green {
  background-color: green;

  width: 120px;
  height:120px;
  opacity: 0.4;
 
  border: 5px solid white;
}

#red {
  background-color: red;
  border: 5px solid white;

  width: 120px;
  height:120px;
  opacity: 0.4;
 
}

#yellow {
  background-color: yellow;

  border: 5px solid white;
  width: 120px;
  height:120px;
  opacity: 0.4;
 
}
button {
  width: 130px;
  font-size: 25px;
  border-radius: 50%;
  background-color: black;

  font-family: "Pacifico", cursive;
  color: white;
  border: black;
}
#score {
  font-family: "Pacifico", cursive;
  font-size: 30px;
  color: green;
}
#highscores {
  font-family: "Pacifico", cursive;
  font-size: 30px;
  color: white;
}

#top {
  font-family: "Pacifico", cursive;
  font-size: 30px;
  color: #00e64d;
}
